.comparison-card {
  background-color: #000;
}
.spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-one-box {
  width: 100%;
  height: 30%;
}

.compared-box {
  width: 100%;
  height: 40%;
}

.location-two-box {
  width: 100%;
  height: 30%;
}

.average {
  text-align: center;
  margin: 0px 0px 0px;
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 1em;
  height: 30%;
}

.locations {
 height: 30%;
 margin: 0px 0px 0px;
 color: red;
 width: 80%;
 text-align: center;
 font-size: 1.3em;
}

 h2 {
  margin: 0;
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

@media screen and (max-width: 1300px) {
  .locations {
   margin: 0px 0px 15px;
   font-size: 1em;
   width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .locations {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h2 {
   width: 90%;
   font-size: 1em;
 }
}

@media screen and (max-height: 700px) {
  .locations {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.2em;
  }

  h2 {
   font-size: 0.2em;
 }

 .average {
  font-size: 0.2em;
 }
}
