@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,600,700");

.input-container {
  background-color: #2a2a2b;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 70%;
  width: 30%;
  border-width: 0;
  padding-left: 10px;
  font-size: 1em;
  font-family: 'Dosis', sans-serif;
}

::-webkit-input-placeholder {
  color: #000;
}

@media screen and (max-width: 800px) {
  input {
    width: 50%;
    font-size: 1em;
  }
}
